@charset "utf-8";
/* CSS Document */
html,body{
	width:100%;
	min-height:100%;
	padding:0;
	margin:0;
	background:url(../images/background.jpg);
	background-size:cover;}
#wrapper{
	width:100%;
	height:auto;
	min-height:500px;}
.container{
	padding:50px 0;
	text-align:center;}
h1{margin-bottom:100px;}
.head{margin-top:-188px;}

.flip img{animation:flipIt 0.5s linear infinite;}
.head img{
	animation-delay:0.25s;}

@keyframes flipIt{
	0%{width:0px;
		height:188px;}
	25%{width:188px;
		height:188px;}
	50%{width:0px;
		height:188px;}
	100%{width:0px;
		height:188px;}
}